<!--The content below is only a placeholder and can be replaced.-->
<nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" routerLink="/Home">
            <img src="../assets/svg.svg" alt="" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
            
          </a>
          <a class="pt-4 d-none d-md-inline-block" routerLink="/search/movies"><p class="text-white"><strong>Movies</strong></p></a>
          <a class="pt-4 d-none d-md-inline-block" routerLink="/search/tv"><p class="text-white"><strong>Tv Series</strong></p></a>
          <a class="pt-4 d-none d-md-inline-block" routerLink="/search/people"><p class="text-white"><strong>Cast</strong></p></a>
        </div>
      </nav>
<router-outlet></router-outlet>
