<section>
  <div class="bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4  mt-5">
        <img class="img-fluid" src="https://image.tmdb.org/t/p/original{{person.profile_path}}" alt=""
        style="width: 35rem;">
      </div>
      &nbsp;
      <div class="col-12 col-md-7  mt-5   ">
        
        <h1><strong> {{person.name}} </strong></h1>
        <h4 class="mt-5"><strong>Biography</strong></h4>
        <p> {{person.biography}}</p>
        
      </div>
    </div>
  </div>
  
  <div class="bg-white">
      <hr>

      <hr class="mt-5">
  </div>

  <div class= "container">
  <div class="mt-3">
      
    <h4><strong>Facts</strong></h4>
    <div class="row mt-3 mb-5">
      <div class="col">
        <p><strong>Gender</strong></p>
        
        <div *ngIf="person.gender == 1">
            <p>Female</p>
          </div>
        <div *ngIf="person.gender == 2">
          <p>Male</p>
        </div>
      </div>
      
      <div class="col">
          <p><strong>Birthday</strong></p>
          <p>{{person.birthday}}</p>
        </div>

        <div class="col">
            <p><strong>Place of Birth</strong></p>
            <p>{{person.place_of_birth}}</p>
          </div>
          
    </div>
  </div>
</div>

</section>